{{ define "main" }}
<div class="container py-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <nav aria-label="Percorso di navigazione">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ "/" | relURL }}">Home</a></li>
          {{ if and .Parent (not .Parent.IsHome) }}
          <li class="breadcrumb-item"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
          {{ end }}
          <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ol>
      </nav>
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}<p class="lead">{{ . }}</p>{{ end }}
      {{ if and .Date (not (eq (.Date.Format "2006") "0001")) }}
      <p class="text-muted small">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
      </p>
      {{ end }}
      <article>
        {{ .Content }}
      </article>
    </div>
  </div>
</div>
{{ end }}
